# Anthropic
ANTHROPIC_API_KEY=sk-ant-...

# Plan token
PLAN_SECRET=change-this-to-a-long-random-secret-in-production

# App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=p070+opINTBLqDs7kcRZGVF2xrBjJF98CQbGUL3GzQI=

# Supabase / Prisma
# Récupère ces URLs dans Supabase → Settings → Database → Connection string
DATABASE_URL="postgresql://postgres.clrfcyxesrkxuxlabygx:buyticle2026@aws-1-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.clrfcyxesrkxuxlabygx:buyticle2026@aws-1-eu-central-1.pooler.supabase.com:5432/postgres"